<div class="distribution-index">
    <div class="jumbotron">
      <h1 class="display-4">台電睦鄰金流分佈</h1>
      <p class="lead">建立網站公開台電年年編列數十億的「促進電力開發協助金」的補助金流向，追查公家經費是否落入與立委利害關係人(包含法定的立委本人、配偶、親屬、助理)相關的特定協會，藉此揭露未利益迴避的問題。</p>
      <p class="data-updated-at">
        資料更新於：<%= Relative.maximum(:updated_at)&.strftime('%F %r %Z')&.in_time_zone %><br>
        <%= link_to '資料錯誤？請聯絡我們', 'https://hackmd.io/I0ALPovCT3aHRCDanWfR_g', class: 'float-right', target: '_blank' %>
      </p>
    </div>
    <div class="row">
      <% @expenditures.group(:city).sum(:amount).sort_by { |city, amount| amount }.reverse.each do |city, amount| %>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <%= "#{city} :" %>
                <br>
                <%= number_to_currency(amount, precision: 0) %>
              </h5>
            </div>
          </div>          
        </div>
      <% end %>
    </div>
</div>
