<div class="jumbotron">
  <h1 class="display-4">關於本專案</h1>
  <p class="lead">CC0 1.0 公眾領域貢獻宣告</p>
  <p>作者在法律許可的範圍內，拋棄此著作依著作權法所享有之權利，包括所有相關與鄰接的法律權利，並宣告將該著作貢獻至公眾領域。</p>
  <ul>
    <li><a href="https://gitlab.com/JFree/ccw-taipower">專案原始碼</a></li>
  </ul>
  <hr>
  <p class="lead">意見回饋：</p>
  至 <a href="https://gitlab.com/JFree/ccw-taipower/issues">本專案原始碼</a>登入後發布 issue，歡迎各種意見回饋
  <hr>
  <p class="lead">資料來源：</p>
  <ul>
    <li><a href="https://npo.moi.gov.tw/">內政部公益資訊平台</a></li>
    <li><a href="https://www.ly.gov.tw/">立法院</a></li>
    <li><a href="https://www.taipower.com.tw">台灣電力公司</a>
    </li>
  </ul>
  <hr>
  <p>
  <%= link_to '下載報告(CSV)', reports_path(format: :csv), class: 'btn btn-primary btn-lg' %>
  </p>
</div>
