<div class="jumbotron">
  <h1 class="display-4">台電敦親睦鄰費是什麼?</h1>
  <p class="lead">台電敦親睦鄰費，全名叫做「促進電力開發協助金」，簡稱「電協金」，是為促進電力發展及設施營運之順利進行，增進發電、輸電及變電設施周邊地區居民福祉及提升公司企業形象所用之費用，這筆經費不但編之有年，而且每個月從數百筆到上千筆補助活動和款項的資訊，也於同步於台電網站公開資訊。</p>
  <hr class="my-4">
</div>
<div class="jumbotron">
  <h1 class="display-4">每年編列的經費真的花在刀口上嗎?</h1>
  <p class="lead">台電的睦鄰經費，從包粽子、看月亮、親子健行、路跑、籃球賽、社區運動會、老人同樂會、廟會、卡拉OK等活動全都補助，甚至有些連活動名稱都沒寫就補助十萬元，只要最後補助原因適用「宣傳節約用電」、「提昇企業形象」、「促進電力開發」等等就行，每年編列數十億的預算，這些理應用來「敦親睦鄰」的預算，真的有花在刀口上嗎？</p>
  <p class="lead">我們將持續要求台電公開補助金結案報告書，供民眾檢視。</p>
  <hr class="my-4">
</div>
<div class="jumbotron">
  <h1 class="display-4">民代介入補助款分配，真的沒問題嗎?</h1>
  <p class="lead">台電每年編列數十億「促進電力開發協助金」供民間單位「敦親睦鄰」全民皆可申請，「最後變成你也要、我也要，大家只好比誰有『關係』。」 畢竟預算還是僧多粥少，若台電不補助、或是補助金額不盡理想，有時候就要靠民代出面「協助」。許多立法委員及縣市正副議長，常受民間組織委託申請，爭取上百萬元協助金。更出現立委為民間組織申請該補助金，但追查之下，才發現申請組織的背後，就是民意代表本人或其利益關係人，但立委具有審查台電預算的權力，此舉顯然有「綁預算、索經費」的疑慮。</p>
  <p class="lead">立法委員審查國營事業預算，台電是立委監督對象，編了預算讓立委「服務選區」，儘管這筆錢並非進入立委私人口袋，但多少有人情立委做，希望立委審查預算時高抬貴手的意味；或許談不上「收受的對價關係」，但於立委職權行使總有說不出的尷尬</p>
  <p class="lead">我們將使用公民科技，將睦鄰金流公開，系統性的檢視「民代介入補助款分配」的情況，並公開民代關係人資料庫，遏止不當的金權政治。</p>
  <hr class="my-4">
</div>
<div class="jumbotron">
  <h1 class="display-4">監察委員怎麼說?</h1>
  <p class="lead">一、台電公司未依執行要點所定標準撥付協助金，核撥無法源依據之特別協助金，導致溢支，高達9億餘元。</p>
  <p class="lead">二、未落實實地查核，部分專案補助活動案件為辦理觀光旅遊或餐敘活動，與規定之補助事項並無明顯相關性，卻仍予以補助，亦見審查流於形式</p>
  <p class="lead">三、未依規定或原申請計畫支用協助金及虛報浮報者，均未停止其協助金之申請，未確實考核協助金之執行成效。</p>
  <hr class="my-4">
</div>
<div class="jumbotron">
  <h1 class="display-4">立法院預算中心怎麼說?</h1>
  <p class="lead">立法院預算中心於106年度總預算案評估報告指出，台電公司為促進電力發展及設施營運之順利進行，每年支付促進電力開發協助金約 30 億餘元，回饋金補償金化恐加重政府財政負擔，且回饋金以個人為發放對象，易衍生道德風險爭議。</p>
  <p class="lead">一般而言，若受影響範圍或設施具有公共財、不可移轉與不可 抗拒等性質，則補償對象為社區，因以私人為回饋或補償對象，可能會吸引過多居民移入，或留在影響範圍內造成過多社會損失，產生道德風險，而現行部分回饋金之設計未能審慎考量補助對象，後續恐衍生爭議。</p>
  <hr class="my-4">
</div>
<div class="jumbotron">
  <h1 class="display-4">台電怎麼回應?</h1>
  <p class="lead">台電於2018年3月表示，針對「促進電力開發協助金」資金運用，台電設有委員會，依照既定辦法，針對每筆資金運用進行嚴謹審核。針對民代介入敦親睦鄰金補助的部分，台電要進一步了解詳細狀況後再做回應。</p>
  <hr class="my-4">
</div>
