<h1>Editing Admin Expenditure</h1>
<%= simple_form_for @expenditure, url: [:admin, @expenditure] do |f| %>
  <%= render 'form', f: f %>
<% end %>

<%= link_to '檢視', [:admin, @expenditure] %> |
<%= link_to 'Back', admin_expenditures_path %>
