<h1>操作流程</h1>
  <p>最後的關聯運算是透過「匯入親屬資料」來完成，</p>
  <h4>匯入資料：</h4>
  <ol>
    <li>匯入補助資料</li>
    <li>匯入團體資料</li>
    <li>匯入民代資料</li>
    <li>匯入親屬資料</li>
  </ol>
  <h4>更新補助資料：同</h4>
  <ol></ol>
<hr>
<h1>匯出報告</h1>
<section>
  <h6>民代本人與親屬相關團體申請台電補助總表</h6>
  <%= link_to '下載報告(CSV)', reports_path(format: :csv) %>
</section>
