.pages-index
  .card
    margin-top: 2rem
    margin-bottom: 2rem
    th.representative-expenditures-summary
      text-align: right
    table.inner-expenditures-list-table
      td
        border: none
        padding-right: 0
