.content-wrapper
  height: 100%
  background-image: image_url('bg.jpg')
  background-attachment: fixed
  background-size: cover
.pages-index
    p.data-updated-at
      float: right
    padding-top: 2rem
    .jumbotron
      background-color: rgba(255, 255, 255, 0.85)
    .card
      margin-top: 2rem
      margin-bottom: 2rem
      background-color: rgba(255, 255, 255, 0.85)
      th.representative-expenditures-summary
        text-align: right
      td.expenditures-container
        padding-top: 0
      table.inner-expenditures-list-table
        width: 100%
        td
          border: none
          padding-right: 0
          width: 15%
footer
  background-color: white
  height: 3rem
  text-align: center
  img
    height: 3rem
