.pages-index
  .card
    margin-top: 2rem
    margin-bottom: 2rem
    th.representative-expenditures-summary
      text-align: right
    td.expenditures-container
      padding-top: 0
    table.inner-expenditures-list-table
      width: 100%
      td
        border: none
        padding-right: 0
        width: 15%
        &:first-child
          width: 70%
          
